# Pandas

Pandas is a powerful library for data manipulation and analysis in Python. It is widely used in a range of fields, including data science, finance, and statistics.

## 004. Iteration

## 004.000 Assets

Some assets to avoid too much typing

| Name        | Age|
|-------------|----|
| Mbappé      | 23 |
| De Bruyne   | 31 |
| Lewandowski | 33 |
| Benzema     | 34 |
| Messi       | 35 |

In [1]:
import sys
from pathlib import Path

current_dir = Path().resolve()
while current_dir != current_dir.parent and current_dir.name != "katas":
    current_dir = current_dir.parent
if current_dir != current_dir.parent:
    sys.path.append(current_dir.as_posix())

In [2]:
import pandas as pd
from lib.utils import fresh_df
from IPython.core.interactiveshell import InteractiveShell

pd.set_option('display.max_rows', None)
InteractiveShell.ast_node_interactivity = "all"

### 004.001 Using Itertuples

1. Use itertuples to print each row, and the type on the same line

In [10]:
df = fresh_df("002.tsv", id="Name")
# solution

for row in df.itertuples():
    type(row), row

(pandas.core.frame.Pandas, Pandas(Index='Mbappé', DOB='1998-12-20'))

(pandas.core.frame.Pandas, Pandas(Index='De Bruyne', DOB='1991-06-28'))

(pandas.core.frame.Pandas, Pandas(Index='Lewandowski', DOB='1988-08-21'))

(pandas.core.frame.Pandas, Pandas(Index='Benzema', DOB='1987-12-19'))

(pandas.core.frame.Pandas, Pandas(Index='Messi', DOB='1987-06-24'))

### 004.002 Using iterrows

1. Use iterrows to print the index of each row , and the type on the same line, and then the row as a Series, and the type on the same line

In [4]:
df = fresh_df("002.tsv")
# solution

for index, row in df.iterrows():
    type(index), index
    type(row), row

### 004.003 Using Items

1. Use items to print each column as a series, and the type on the same line

In [5]:
df = fresh_df("002.tsv")
# solution

### 004.004 Using Query

1. Add an 'Age' column with years of player
1. Use query to find all players older than 30 years 
1. Make another query for all players older than 30 and with a name longer than 8 characters

In [6]:
from datetime import datetime
df = fresh_df("002.tsv")
# solution

### 004.003 aggregagtion

1. Load the minimal_player_list file
1. Find the mean, median and max for Age and Wages in the complete datase

In [7]:
1
datafile = "minimal_player_list.csv"
df = fresh_df(datafile, id="ID", sep=",")
df.head()
# solution

1

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Position
ID,,,,,,,,,
231747,Kylian Mbappé,23,France,91,95,Paris Saint Germain,190500000,23000000,ST
192985,Kevin De Bruyne,31,Belgium,91,91,Manchester City,107500000,35000000,CM
188545,Robert Lewandowski,33,Poland,91,91,FC Barcelona,84000000,42000000,ST
165153,Karim Benzema,34,France,91,91,Real Madrid,64000000,45000000,CF
158023,Lionel Messi,35,Argentina,91,91,Paris Saint Germain,54000000,19500000,RW

### 004.005 Using Grouping

1. Generate a DataFrame with the rows grouped by nationality and for each nationality the max wages. Use `reset_index` to generate the DataFrame. Show its head
1. Merge back to the original dataframe, so that the original rows are still with the aggregates. Show its head
1. Extract the "Name", "Nationality", and "wage" fields. Show its head
1. Sort by Wage descending. Head doesn't work here; take the first 20 rows instead and copy them to a new df
1. Format so that "Wage" has comma separators, and no decimals. Hide its row number. Show its head

In [8]:
datafile = "minimal_player_list.csv"
df = fresh_df(datafile, id="ID", sep=",")
group_by_field = "Nationality"
# solution

### 004.006 Using Grouping

1. Repeat 004.005, but applied to "Club" instead of "Nationality". Also, it should only apply to players with "Wage > 2000000"
    1. Generate a DataFrame with the rows grouped by Club and for each Club the max wages. Use `reset_index` to generate the DataFrame. Show its head
    1. Merge back to the original dataframe, so that the original rows are still with the aggregates. Show its head
    1. Extract the "Name", "Club", and "wage" fields. Show its head
    1. Sort by Wage descending. Show its head
    1. Format so that "Wage" has comma separators, and no decimals. Hide its row number. Show its head

In [9]:
datafile = "minimal_player_list.csv"
df = fresh_df(datafile, id="ID", sep=",")
group_by_field = "Club"
# solution